# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# VIM
*.swp
*.swo

# Haul
#
haul-debug.log
.cache-loader
config.log
third-party

# CocoaPods
Pods/
android/gradle.properties.local
android/app/google-services.json
ios/emurgo/GoogleService-Info.plist
HPC5*
ios/AppStore_com.emurgo.yoroi.mobileprovision
ios/emurgo.app.dSYM.zip
android/app/api*
android/app/dev
android/app/main
GoogleService-Info.plist

# react-intl
translations/messages

# Android bundle
android/app/src/main/assets/index.android.bundle
android/app/src/main/res/drawable*
.env.production
.env.staging
sentry.properties
output.json
app-mainnet-release.apk
