<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Yoroi Nightly</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.25.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>513</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>The $(PRODUCT_NAME) uses the Bluetooth to connect to hardware wallets.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>The $(PRODUCT_NAME) uses the Bluetooth to connect to hardware wallets.</string>
	<key>NSCameraUsageDescription</key>
	<string>The $(PRODUCT_NAME) uses your camera to read QR codes, this makes simpler to input big wallet addresses.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>The $(PRODUCT_NAME) uses the Face ID to protect your wallet by authenticating using it.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>The $(PRODUCT_NAME) uses your location along with your Bluetooth, this is required to integrate with some hardware wallets.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>The $(PRODUCT_NAME) uses your location along with your Bluetooth, this is required to integrate with some hardware wallets.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>The $(PRODUCT_NAME) uses your location along with your Bluetooth, this is required to integrate with some hardware wallets.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>The $(PRODUCT_NAME) uses the microphone so you can leverage voice commands.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Rubik-Black.ttf</string>
		<string>Rubik-BlackItalic.ttf</string>
		<string>Rubik-Bold.ttf</string>
		<string>Rubik-BoldItalic.ttf</string>
		<string>Rubik-ExtraBold.ttf</string>
		<string>Rubik-ExtraBoldItalic.ttf</string>
		<string>Rubik-Italic-VariableFont_wght.ttf</string>
		<string>Rubik-Italic.ttf</string>
		<string>Rubik-Light.ttf</string>
		<string>Rubik-LightItalic.ttf</string>
		<string>Rubik-Medium.ttf</string>
		<string>Rubik-MediumItalic.ttf</string>
		<string>Rubik-Regular.ttf</string>
		<string>Rubik-SemiBold.ttf</string>
		<string>Rubik-SemiBoldItalic.ttf</string>
		<string>Rubik-VariableFont_wght.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>NightlySpashScreen.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
