{
  "bracketSpacing": false,
  "quoteProps": "consistent",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "plugins": ["prettier-plugin-organize-imports"],
  "importOrder": ["^@yoroi/(.*)$", "^a-zA-Z@", "^./"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
