<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Enable apple music usage</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Yoroi mobile needs to access Bluetooth in order to be able to pair with hardware wallets that support this feature</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Enable bluetooth usage</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Enable calendars usage</string>
	<key>NSCameraUsageDescription</key>
	<string>Yoroi Mobile will only use camera when user requests to scan a QR-code with a blockchain address, instead of typing the address in manually.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Enabling Face ID allows you quick and secure access to your account.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>One of the software dependencies of Yoroi mobile requires this permission, but Emurgo does not use neither store this information</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Enable location usage</string>
	<key>NSMotionUsageDescription</key>
	<string>Enable motion usage</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Enable photo library</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Enable speech recognition</string>
	<key>RCTAsyncStorageExcludeFromBackup</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Rubik-Bold.ttf</string>
		<string>Rubik-BoldItalic.ttf</string>
		<string>Rubik-Italic.ttf</string>
		<string>Rubik-Light.ttf</string>
		<string>Rubik-LightItalic.ttf</string>
		<string>Rubik-Medium.ttf</string>
		<string>Rubik-MediumItalic.ttf</string>
		<string>Rubik-Regular.ttf</string>
		<string>Rubik-SemiBold.ttf</string>
		<string>Rubik-SemiBoldItalic.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
